@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Didact+Gothic&family=Erica+One&family=Permanent+Marker&display=swap");

/* If google fonts breaks, we have bigger problems than relying on them for a wedding invitation */

/* Revised Colors */

/* 
0F0F10 -Main Black
5E17EB -Purplish Blue

FED06A -Electric Yellow
10E5FD -Neon Blue
FA1EFD -Burning Magenta
*/

:root {
  --primary-color: #ffffff;
  --secondary-color: #5e17eb;
  --accent1-color: #fa1efd;
  --accent2-color: #10e5fd;
  --accent3-color: #fed06a;
  --text-color: #f2f1ec;
  --link-color: #fed06a;

  --background-color: #0f0f10;
  font-size: 24px;
}

/* Common HTML Tags */

h1 {
  color: var(--link-color);
}

h2 {
  color: var(--primary-color);
}

p {
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

/* Header Section */

header {
  position: sticky;
  top: 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  align-content: center;
}

.music-control {
  position: absolute;
  top: 50%;
  right: 2vw;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider {
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  height: 100px;
}

#music-toggle {
  max-height: 8vw;
  font-family: "Didact Gothic", sans-serif;
}

.hook {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-container {
  width: 16rem; /* Fixed width */
  height: 200px; /* Fixed height */
  padding: 1rem; /* Add padding to prevent text touching edges */
  border: 2px solid #ff9100; /* Visible border */
  overflow: hidden; /* Hide overflow to test if text fits */
  background: #f5f5f5;
}

.headline {
  text-align: center;
  margin: 10px;
}

.heroline {
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9vw;
  margin: 10px;
  text-decoration: none;
}

.subline {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5vw;
  margin: 10px;
  color: var(--primary-color);
}

/* Body Section */

body {
  background-color: var(--background-color);
  text-align: center;
}

main {
  margin: 50px 20px 50px 20px;
}

.main-content {
  margin: 50px 20px 50px 20px;
}

.first-image {
  width: 100%;
}

#clarifications {
  max-width: 32rem;
  margin: 0 auto;
  text-align: left;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#clarifications p {
  margin: 13px;
}

#countdown {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.erica-one-regular {
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barrio-regular {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#dress-code {
  font-family: "Didact Gothic", sans-serif;
}

img {
  max-width: 600px;
}

footer {
  position: fixed;
}
